*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0%;
  margin: 0%;
  align-items: center;
  justify-content: center;
  background-color: rgb(159, 179, 27);;

}
.demo1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #572121;
  border-radius: 8px;
}

.demo1 div {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}

.demo1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.demo1 h1 {
  font-size: 20px;
  margin: 10px;
}

.demo1 p {
  font-size: 14px;
  font-style: italic;
  color: #0b0000;
  margin: 10px;
}
.demo1 div:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;);
}